@{
    ViewData["Title"] = "Om MoonSpace";
}


<div class="About-page">
    <div class="About-page-1">
        <img src="~/images/moonsisters.jpg" alt="Äganra på bild, två kvinnor håller i blommor." />
    </div>
    <div class="About-page-2">
        <h1>Moon sisters</h1>
        <p>
            Groom forever, stretch tongue and leave it slightly out, blep. See owner, run in terror brown cats with pink ears.
            Toilet paper attack claws fluff everywhere meow miao french ciao litterbox. If human is on laptop sit on the keyboard.
            Munch on tasty moths leave fur on owners clothes so play riveting piece on synthesizer keyboard. Friends are not food.
            Loves cheeseburgers mark territory, or hack up furballs for pee on walls it smells like breakfast cat slap dog in face
            scream at teh bath. Try to jump onto window and fall while scratching at wall wack the mini furry mouse the fat cat sat
            on the mat bat away with paws lie.
        </p>
    </div>
    <div class="About-page-3">
        <h3>Kontakt</h3>
        <input type="text" placeholder="Ditt namn" />
        <input type="text" placeholder="Din Epost" />
        <textarea placeholder="Meddelande" ></textarea>
        <button>Skicka</button>
    </div>
    <div class="About-page-4">
        <h3>Kontaktuppgifter</h3>
        <p>E-post: info@moonstrore.se</p>
        <p>Vi har telefontid kl 10-14 måndag till fredag</p>
        <p>070-123 45 67</p>
    </div>
</div>