@{
    ViewData["Title"] = "Bekräftad order";
}


<h1>Din order är nu genomförd.</h1>
<br />
<p>Du bör ha ett mail innom 2 timmar med orderdetaljer samt betalningsinfo, om du inte fått det kontakta då oss.</p>
