@{
    ViewData["Title"] = "Home Page";
}

<div class="Start-page">
    <div class="start-div-1">
        <div>
            <h2 class="start-ad-heading">Vårat utbud</h2>
            <a class="start-ad-text" href="/Identity/Account/Register">Registrera dig för att så vårat fina utbud av kurser, seminarier, föreläsningar och workshops.</a>
        </div>
    </div>
    <div class="start-div-2">
        <div>
            <h2 class="start-ad-heading">MoonSpace</h2>
            <a class="start-ad-text" asp-action="About">Läs om MoonSpaces bakgrund och grundare.</a>
        </div>       
    </div>
    <div class="start-div-3">
        <div>
            <h2 class="start-ad-heading">Rena ditt hem</h2>
            <a class="start-ad-text" href="/Identity/Account/Login">Ny kurs i Energi rening finns nu. Logga in för att läsa om den.</a>
        </div>  
    </div>
</div>
